f7f9f9-3d5a80-98c1d9-ee6c4d-293241
body{
	background-color: lightgray;
	font-family: 'Open Sans', sans-serif;
}
.topnav{
	overflow: hidden;
	background-color: #ee6c4d;
	margin-left: 20px;
	margin-right: 20px;
	position:fixed;
	top: 0;
	width: 100%;

}
.topnav a{
	float: left;
	padding: 14px 16px;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}
.topnav a:hover{
	background-color:steelblue;
	color:white;
}


header{
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	background-color: lightblue;
	font-style: italic;
}


h1 {
	font-family:helvetica;
    
}

main{
	margin-left: 50px;
	margin-right: 50px;
	color: midnightblue;
	font-size: 23px;
}

.bottomnav{
	overflow: hidden;
	background-color: #ee6c4d;
	margin-left: 20px;
	margin-right: 20px
}

.bottomnav a{
	float: left;
	padding: 12px 14px;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

.bottomnav a:hover{
	background-color:steelblue;
	color: white;
}
	

footer{
	text-align: center;
	text-decoration: none;
	margin-bottom: 40px;
}
a{
	text-decoration: none;
	color: ghostwhite;
}